{% extends getPartial('page-design-login') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% set backlink = request.get("backlink") %}
{% set pageDesignType = "login" %}
{% set lang = services.sessionStorage.getLang() %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.login") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
    <link href="{{ plugin_path('BlueBerry') }}/css/blue-berry.css?v={{ 'now'|date('U') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block PartialFooterLatest %}
    <script src="{{ plugin_path('BlueBerry') }}/js/blue-berry.js?v={{ 'now'|date('U') }}"></script>
{% endblock %}

{% block PageBody %}
<script type="x/template" id="vue-login">
    <form :id="'login-form-' + _uid" class="login-container row clearfix">

        <div class="col-sm-12">
            {{ trans("BlueBerry::Text.loginTextDescription") }}
        </div>

        <div class="clearfix space20"><!-- --></div>

        <div class="col-sm-12">
            <div class="input-unit" data-validate="mail">
                {% set uid_mail = uid() %}
                <input type="email" name="email" id="{{ uid_mail }}" v-model="username" data-autofocus>
                <label for="{{ uid_mail }}">{{ trans("Ceres::Template.loginEmail") }}*</label>
            </div>
            <span class="error-msg">{{ trans("Ceres::Template.loginEnterConfirmEmail") }}</span>
        </div>

        <div class="clearfix space10"><!-- --></div>

        <div class="col-sm-12">
            <div class="input-unit" :class="{'no-bottom': modalElement}" data-validate="text">
                {% set uid_pwd = uid() %}
                <input type="password" name="password" id="{{ uid_pwd }}" v-model="password">
                <label for="{{ uid_pwd }}">{{ trans("Ceres::Template.loginPassword") }}*</label>
                <a href="javascript:void(0)" @click="showResetPwdView" class="small">{{ trans("Ceres::Template.loginForgotPassword") }}?</a>
            </div>
            <span class="error-msg">{{ trans("Ceres::Template.loginEmptyPassword") }}</span>
        </div>

        <div class="clearfix space20"><!-- --></div>

        <div class="col-sm-12">

            <div class="col-sm-2 col-xs-6 pull-left">
                <a href="/{{ lang }}/customer-register"><span class="fa fa-user"></span></a>
            </div>

            <div class="col-sm-2 col-xs-6 pull-left">
                <a href="/{{ lang }}/contact">
                    <span class="fa fa-envelope"></span>
                </a>
            </div>

            <div class="col-sm-8 col-xs-12 pull-left">
                {{ LayoutContainer.show("Ceres::LoginOverlay.ExtendOverlayButtons") }}
                <button @click.prevent="validateLogin" :disabled="isDisabled" class="btn btn-primary btn-medium" :class="{'btn-right': !modalElement}">
                    <i class="fa fa-user" v-waiting-animation="isDisabled"></i>
                    {{ trans("Ceres::Template.login") }}
                </button>
            </div>

        </div>

        <div class="clearfix"><!-- --></div>
    </form>
</script>

<script type="x/template" id="vue-login-view" >
    <div class="container-fluid login login-pwd-reset bb-login-holder clearfix">
        <login template="#vue-login" backlink="{{ backlink | url_encode }}" has-to-forward="true"></login>
        <div class="clearfix"><!-- --></div>
    </div>
</script>

 <script type="x/template" id="vue-forgot-password-modal">
	<form :id="'reset-pwd-form-' + _uid" class="reset-pwd-container login-pwd-reset">
		<div class="modal fade" id="resetPwd" ref="pwdModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title h3">{{ trans("Ceres::Template.loginForgotPassword") }}</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="alert alert-info w-100 pwd-forgot-info">
							<span class="info-badge">{{ trans("Ceres::Template.loginForgotPasswordInfo") }}</span>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="input-unit no-bottom" data-validate="mail">
									{% set uid_mail = uid() %}
									<input type="email" name="email" id="{{ uid_mail }}" v-model="username" data-autofocus>
									<label for="{{ uid_mail }}">{{ trans("Ceres::Template.loginEmail") }}*</label>
								</div>
								<span class="error-msg">{{ trans("Ceres::Template.loginEnterConfirmEmail") }}</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div>
							{{ LayoutContainer.show("Ceres::LoginOverlay.ExtendOverlayButtons") }}
							<button @click.prevent="validateResetPwd" :disabled="isDisabled" class="btn btn-primary btn-medium">
								<i v-waiting-animation="isDisabled" class="fa fa-paper-plane-o" aria-hidden="true"></i>
								{{ trans("Ceres::Template.loginSend") }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</script>

<login-view template="#vue-login-view"></login-view>
{% endblock %}