{{ component( "Ceres::Containers.Components.LastSeenItemList" ) }}
{{ component( "Ceres::ItemList.Components.CategoryItem") }}
{{ component( "Ceres::PageDesign.Components.Carousel" ) }}

{% set listType = config("Ceres.item.lists." ~ itemListNo ~ ".list_type") %}
{% set tagIds = config("Ceres.item.lists." ~ itemListNo ~ ".tag_ids") | split(",") %}
{% set tagSorting = config("Ceres.item.lists.tag_sorting") %}
{% set isHome = services.template.isHome() %}

{% if listType == "cross_selling" %}
    {% set itemList = services.itemList.getItemList( listType, item.documents[0].data.item.id ).documents %}
{% elseif listType == "tag_list" %}
    {% set itemList = services.itemList.getItemList( listType, tagIds ).documents %}
{% endif %}

<div class="row">
    {% if listType == "last_seen" %}
        <div class="col-12">
            <last-seen-item-list>
                <template #heading>
                    <div>
                        {% if not isHome %}
                            <hr>
                        {% endif %}

                        {% include 'Ceres::Containers.Partials.ItemLists.ItemListHeader' with { itemListNo: itemListNo, listType: listType, isHome: isHome } %}
                    </div>
                </template>
            </last-seen-item-list>
        </div>
    {% elseif itemList is not empty %}
        <div class="col-12">
            {% if not isHome %}
                <hr>
            {% endif %}

            {% include 'Ceres::Containers.Partials.ItemLists.ItemListHeader' with { itemListNo: itemListNo, listType: listType, isHome: isHome } %}
        </div>
        <div class="col-12">
            <carousel>
                {% for item in itemList %}
                    {% set discountNew = 100 - ((item.data.prices.default.price.value * 100) / item.data.prices.rrp.data.basePrice) %}
                    <template slot="items">
                        <category-item
                            :item-data="{{ item.data | json_encode }}"
                            :decimal-count="{{ ceresConfig.item.storeSpecial }}"
                            :disable-carousel-on-mobile="true">

                            <template #before-prices>{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                            <template #after-prices>
                                {% if item.data.prices.rrp and item.data.prices.rrp.data.basePrice > 0 and item.data.prices.rrp.data.basePrice > item.data.prices.default.price.value and item.data.prices.default.price.value > 0 %}
                                    <div class="discount-list-related small text-muted">{% if item.data.texts.lang == 'en' %}Discount:{% endif %}{% if item.data.texts.lang == 'de' %}Rabatt:{% endif %} {{ discountNew|round }}%</div>
                                {% endif %}
                            </template>

                        </category-item>
                    </template>
                {% endfor %}
            </carousel>
        </div>
    {% endif %}
</div>
